/* Rectangle 1 */
.cabeçalho__container{

    position: absolute;
    width: 1440px;
    height: 313px;
    left: 0px;
    top: 1px;
    background: #605299;
}

.intro{

    position: absolute;
    width: 1018px;
    height: 69px;
    left: 332px;
    top: 111px;

    font-family: Architects Daughter;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 58px;

    color: #FFFFFF;

}
