.main {
    max-width: 100vw !important;
}
a {
  text-decoration:none;
}


:root {
  font-size: 60%;
}


body,
input,
select,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 1400px;
}

button {
	cursor: pointer;
}

@media (min-width: 700px) {
  :root {
    font-size: 70.5%;
  }
}

/*CORES*/
:root {
	--roxo-01-color : rgba(96, 82, 153, 1);
	--lilás-01-color: rgba(210, 190, 230, 0.83);
	--cinza-01-color : rgba(229, 229, 229, 1);
	--cinza-transparente-01-color : rgba(229, 229, 229, 0.58);
	--cinza-transparente-02-color : rgba(196, 196, 196, 0.05);
	--amarelo-01-color : rgba(241, 245, 37, 0.64);
	--amarelo-transparente-color : rgba(241, 245, 37, 0.2);
	--preto-color : rgba(0, 0, 0, 1);
	--branco-fundo-color : rgba(255, 255, 255, 1);
	--fundo-color: #E5E5E5;
    --texto-cabecalho: #FFFFFF;
    --amarelo-claro-color: rgba(241, 245, 37, 0.87);

/*
	adicionem aqui as cores: exemplo da minha plataforma

  --main-color: #6842C2;
  --primary-blue-color: #8257E5;
  --medium-blue-color: #1b00bd;
  --primary-black-color: #080808;
  --second-black-color: #000000;
  --medium-grey-color: #919191;
  --light-grey-color:rgba(249, 249, 249, 1);
  --clear-grey-color: #707070;
  --light-pink-color: #ffc9d0;
  --rodape-color:#262626;


  para usar é so colocar var(nome)
  exemplo:
  background: var(--rodape-color);
*/
}
