.page1 {
    width: 90%;
	/* font-family: 'Roboto', serif; */
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;

	color: #000000;
	max-width: 1600px;
}

.page1 .bem-vindo{
	display: flex;
    position: relative;
	margin-top: 50px;
    width: 100%;
	height: 400px;
}

.page1 .titulo1{
    font-family: 'EXO';
	font-size: 30px;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 808px;
	height: 54px;
	left: 0px;
	top: 58px;

	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);

	font-weight: 600;
}

.page1 .texto1{
    font-family: Roboto;
	font-size: 20px;
	position: absolute;
	width: 671px;
	height: 152px;
	left: 130px;
	top: 150px;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(229, 229, 229, 0.58);
	padding: 10px; /*tava sem a unidade px*/
	text-align: center;

}

.page1 .img1{
    position: absolute;
    left: 70%;

}

.page1 .dicas-economia{
	display: flex;
    position: relative;
    width: 100%;
	height: 350px;
}

.page1 .titulo2{
    font-family: 'EXO';
	font-size: 30px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 760px;
	height: 54px;
	left: 50px;

	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);
	font-weight: 600;;

}

.page1 .texto2{
    font-family: Roboto;
	font-size: 20px;
	position: absolute;
	width: 671px;
	height: 152px;
	left: 130px;
	top: 95px;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(229, 229, 229, 0.58);
	padding: 10px; /*tava sem a unidade px*/
	text-align: center;
}

.page1 .bolha-voce-sabia{
	position: absolute;
	width: 360px;
	height: 354px;
	left: 70%;
	border-radius: 50%;

	/* Lilás 01 */
	background: rgba(210, 190, 230, 0.83);
}

.page1 .bolha-voce-sabia .atencao{
	margin-top: 15px;
	font-size: 30px;
	font-weight: 600;
	font-family: 'EXO';
	display: flex;
	justify-content: center;
}

.page1 .bolha-voce-sabia .texto3{
	font-family: Roboto;
    font-size: 20px;
	text-align: center;
	padding: 0 35px;
}

.page1 .img1-logo{
	display: flex;
    position: relative;
    width: 100%;
    /* left: 18vw; */
	height: 250px;
}
.page1 .img1-logo img {
	margin-left: 178px;
}

.page1 .grafico1{
	position: relative;
	display: flex;
	height: 400px;
}

.page1 .img-grafico1{
	position: absolute;
	left: 8vw;
	top: 50px;
}

.page1 .texto4{
	font-family: Roboto;
    font-size: 20px;
	position: absolute;
	width: 671px;
	height: 152px;
	left: 55%;
	top: 95px;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(229, 229, 229, 0.58);
	padding: 10px; /*tava sem a unidade px*/
	text-align: center;	
}

.page1 .educacao-financeira{
	display: flex;
    position: relative;
    width: 100%;
	height: 475px;
}

.page1 .titulo3{
    font-family: 'EXO';
	font-size: 30px;
	text-align: center;
	position: absolute;
	width: 760px;
	left: 50px;

	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);
	font-weight: 600;	
}

.page1 .img2-logo{
	position: relative;
	left: 65%;
	top: 120px;
}

.page1 .bolha-educacao{
	position: absolute;
	width: 360px;
	height: 354px;
	top: 110px;
	left: 18%;
	border-radius: 50%;

	/* Lilás 01 */
	background: rgba(210, 190, 230, 0.83);	
}

.page1 .texto5{
	font-family: Roboto;
    font-size: 20px;
	padding: 30px 40px;
	text-align: center;
}

.page1 .conceitos-economia{
	display: flex;
    position: relative;
    width: 100%;
	height: 550px;	
}

.page1 .titulo4{
    font-family: 'EXO';
	text-align: center;
	font-size: 30px;
	position: absolute;
	width: 760px;
	left: 50px;
	top: 50px;

	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);
	font-weight: 600;	
}

.page1 .grafico2{
	position: absolute;
	left: 8vw;
	top: 170px;
}

.page1 .texto6{
	font-family: Roboto;
    font-size: 20px;
	position: absolute;
	width: 671px;
	height: 152px;
	left: 55%;
	top: 150px;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(229, 229, 229, 0.58);
	padding: 10px; /*tava sem a unidade px*/
	text-align: center;	
}

.page1 .olha{
	position: absolute;
	font-size: 30px;
	font-weight: 600;	
	font-family: 'EXO';
	width: 671px;
	height: 152px;
	left: 45vw;
	top: 95px;

	/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(229, 229, 229, 0.58); */
	padding: 10px; /*tava sem a unidade px*/
	text-align: center;	
}

.page1 .economia{
	display: flex;
    position: relative;
    width: 100%;
	height: 850px;
}

.page1 .texto7{
	display: flex;
	flex-direction: column;
}

.page1 .titulo5{
    font-family: 'EXO';
	font-size: 30px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 760px;
	height: 54px;
	left: 50px;
	top: 50px;

	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);
	font-weight: 600;		
}

.page1 .texto7{
	font-family: 'EXO';
	margin-top: 150px;
	margin-left: 170px;
	font-weight: 600;
}

.page1 .p1,
.p3, .p5{
	text-align: right;
	margin-top: 0;
}

/* .page1 .p1,.p2,.p3,.p4,.p5{
	margin-top: 0;
	margin-bottom: 10px;

} */

.page1 .f1, .f2{
	width: 50px;
	height: 50px;
}

.page1 .f1{
	margin-left: 150px;
}

.page1 .f2{
	margin-left: 300px;
}

.page1 .img-decoration{
	margin-left: 70%;
}

.page1 .bolha-comecar{
	position: absolute;
	width: 360px;
	height: 354px;
	top: 450px;
	left: 55%;
	border-radius: 50%;

	/* Lilás 01 */
	background: rgba(210, 190, 230, 0.83);	
}

.page1 .atencao1{
	font-family: 'EXO';
	font-size: 30px;
	font-weight: 600;
	text-align: center;
    padding-bottom: 15px;
	margin-top: 80px;
}

.page1 .texto8{
	font-size: 24px;
    font-family: 'Roboto';
	padding: 0 20px;
	text-align: center;
}

.page1 .curso{
	display: flex;
    /* position: relative; */
    width: 100%;
	height: 300px;
	justify-content: space-evenly;
	justify-content: space-around;
	align-items: center;
}

.page1 .texto9{
	/* position: absolute; */
	font-size: 20px;
    font-family: 'Roboto';
	width: 671px;
	height: 152px;
	left: 130px;
	top: 75px;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(229, 229, 229, 0.58);
	padding: 10px; /*tava sem a unidade px*/
	text-align: center;		
}

.page1 .acesso{
	font-size: 20px;
	font-family: "Roboto";
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;
	left: 52vw;
	top: 6vw;
	background: rgba(241, 245, 37, 0.64);

	width: 230px;
	height: 80px;
}

.page1 .texto10{
	text-decoration: none;
	color: #000000;	
}

.page1 .img-flecha1{
	margin-left: 20px;
	width: 70px;
	height: 30px;
}

.page1 .bloco-borda {
	position: absolute;
	left: 0;
	top: 500px;
	width: 50px;
	height: 3500px;

	background: #605299;

	/* height: calc(100% - 218px); */
}

