.footer {

	background: var(--roxo-01-color);
	padding-top:24px;

	display: flex;
    flex-direction: column;
    align-items: center;


	background-image: url(/assets/img/logo.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: bottom;


}
.footer h1 {

	margin: 0 24px;
	text-align:center;

	font-family: ''EXO'';
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 45px;

	/* identical to box height */

	color: #FFFFFF;
}
.footer .rodape {
	display: flex;

	min-height: 313px;
	width: 90vw;

}
.footer .info-conteiner {
	position: relative;
	/* width: 435px; */
	height: 245px;
	/* margin-left: 185px; */
	margin-top: 19px;

}
.footer .info {

	max-width: 372px;
	/* height: 90px; */

	font-family: 'EXO';
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 45px;
	display: flex;
	align-items: center;
	text-align: justify;

	color: #FFFFFF;
 }
.footer .balao {
	width: 144px;
	height: 142px;

	border-radius: 50%;
	/* amarelo-claro */
	background: var(--amarelo-claro-color);

	font-family: 'EXO';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;

	color: #000000;

	display: flex;
    align-items: center;
    justify-content: center;

	margin-top: 13px;
	margin-left: 103px;

}
.footer .balao-clicado {
	background: var(--amarelo-01-color);
}
.footer .seta {
	position: absolute;
	width: 55.92px;
	height: 43.31px;
	left: 264px;
	top: 99px;
}
.footer .membros {
	width: 90vw;
	max-width: 1380px;
	/* height: 698px; */
	padding-top: 40px;

	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}
.footer .membro {
	width: 190px;
	object-fit: none;
	padding: 20px 0;
    margin: 0 20px;
}
.footer .membro > div {
	display: flex;
}
.footer .membro .redes-sociais {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	margin-left: -10px
}
.footer .membro .redes-sociais a{
	margin-left: -5px;
	border: var(--roxo-01-color) 2px solid;
	border-radius: 50%;
}
.footer .membro .redes-sociais a:nth-last-of-type(3),
.footer .membro .redes-sociais a:nth-child(3) {
	margin-left: -30px;
}
.footer .membro img {
	width: 150px; /*width: 152px;*/
	height: 150px; /*height: 144px;*/
	border-radius: 50%;
    object-fit: none;
}
.footer .membro p {

	font-family: 'Roboto';
	font-style: normal;
	font-size: 16px;
	line-height: 18px;

	color: #FFFFFF;

	margin-top: 14px;
}
.footer .membro .nome { font-weight: bold; }


.rodape {
	display: flex;
    min-height: 313px;
    width: 90vw;
    flex-wrap: wrap;
}
.notas-conteiner {

	width: 523px;
	height: 79px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	color: #FFFFFF;

	flex-direction: column;
	height: auto;
	display: flex;
	justify-content: flex-end;
	width: 600px;

    padding: 50px 0;
}


.footer .membro .redes-sociais a {
	width: 40px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
}

.redes-sociais .linkedin {background-image: url(/assets/img/linkedin.png);}
.redes-sociais .instagram {background-image: url(/assets/img/instagram.png);}
.redes-sociais .github {background-image: url(/assets/img/github.png);}
.redes-sociais .twitter {background-image: url(/assets/img/twitter.png);}




@keyframes fadeIN {
  0% {
    opacity:0.2;
	transform: scale(.4);
  }
  80% {
	  transform: scale(1.2);
  }
  100% {
    opacity:1;
	transform: scale(1);
  }
}
@keyframes fadeOUT {
	100% {
		opacity:0;
		height: 0%;
		transform: scaleY(0);
    }
    80% {
		transform: scaleY(.20);
		height: 50%;
    }
    20% {
  	  transform: scaleY(.80);
  	  height: 100%;
    }
    0% {
      	opacity:1;
  		transform: scaleY(1);
    }
}
.footer .membros .membro{
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-delay: 0.2s;
	animation-name: fadeIN;
}
.footer .membros.ativar .membro{
	animation-name: fadeIN;
	display:flex;

}
.footer .membros.desativar .membro{
	animation-name: fadeOUT;
	display:none;

}

.info-conteiner input {
	display: none;
}

.info-conteiner input[type="checkbox"]:checked + .balao {
	background: var(--amarelo-01-color) !important;
}

