.quiz {

	/* background: blue; */
	height: 100vh;
	width: 100vw;

	font-family: Schoolbell;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 45px;

	color: #000000;

	max-width: 1600px;
}

.quiz label {

	display: block;

}

.centralizar,
.titulo,
.info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-topo {
	position: relative;
	margin-top: 50px;
	border-top: solid 3px red;
}
.titulo {
	position: absolute;
	width: 808px;
	height: 54px;
	left: 0px;
	top: 58px;

	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);

	font-weight: 600;
}


.info{
	position: absolute;
	width: 671px;
	height: 152px;
	left: 137px;
	top: 142px;

	background: rgba(241, 245, 37, 0.64);

	padding: 10;
	text-align: center;

}
.bolha{
	position: absolute;
	width: 360px;
	height: 354px;
	right: 200px;
	top: 0px;
	background: rgba(210, 190, 230, 0.83);
	border-radius: 50%;
}
.bolha p{
	position: absolute;
	width: 106px;
	height: 45px;
	left: 120px;
	top: 16px;
	font-weight: 600;

}
.bolha div{
	position: absolute;
	width: 289.46px;
	height: 248.11px;
	left: 53px;
	top: 83.26px;
	font-weight: 500;
	font-family: Rokkitt;
	font-size: 24px;
	line-height: 27px;
	transform: rotate(-1.24deg);
}

.perguntas{
	position: relative;
	width: 1005.61px;
	height: 1166.79px;
	left: 146px;
	top: 372.4px;

	/* Cinza transparente 01 */
	background: rgba(229, 229, 229, 0.58);
	font-size: 24px;
	line-height: 27px;
	padding: 20px 10px;

}
.perguntas p,
.perguntas label {
	margin-bottom: 21px;
}

.perguntas p {
	padding-right: 28px;
	font-size: 24px;
	line-height: 27px;
	text-align: justify;
}
.perguntas label {
	display: inline-flex;
	padding: 0 10px;
}
.opc-conteiner * {
	cursor: pointer;
}

.opc-conteiner i {
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
	border: 1px solid #000000;
	box-sizing: border-box;
	background: #FFF;
	margin-right: 20px;

}
#quiz input[type=radio] {
	opacity: 0;
	z-index: -1;
}

/* #quiz input[type=radio] + label > i{

} */

#quiz input[type=radio]:checked + label > i{
	background: #605299;
}
.opc-conteiner:hover  i {
	transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
	background: rgba(96, 82, 153, .7)
}
