.quiz {

	/* background: blue; */
	height: 100vh;
	width: 100vw;

	font-family: Schoolbell;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 45px;

	color: #000000;

}

.quiz label {

	display: block;

}

.centralizar,
.titulo,
.info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-topo {
	position: relative;
	margin-top: 50px;
	border-top: solid 3px red;
}
.titulo {
	position: absolute;
	width: 808px;
	height: 54px;
	left: 0px;
	top: 58px;

	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);

	font-weight: 600;
}


.info{
	position: absolute;
	width: 671px;
	height: 152px;
	left: 137px;
	top: 142px;

	background: rgba(241, 245, 37, 0.64);

	padding: 10;
	text-align: center;

}
.bolha{
	position: absolute;
	width: 360px;
	height: 354px;
	left: 890px;
	top: 0px;
	background: rgba(210, 190, 230, 0.83);
	border-radius: 50%;
}
.bolha p{
	position: absolute;
	width: 106px;
	height: 45px;
	left: 120px;
	top: 16px;
	font-weight: 600;

}
.bolha div{
	position: absolute;
	width: 289.46px;
	height: 248.11px;
	left: 53px;
	top: 83.26px;
	font-weight: 500;
	font-family: Rokkitt;
	font-size: 24px;
	line-height: 27px;
	transform: rotate(-1.24deg);
}

.perguntas{
	display: none;
}
