.pagina2 {
	margin: 50px 0;
	font-family: 'EXO';
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 45px;

	color: #000000;
}
.pagina2 .bolha {
	width: 360px;
	height: 360px;
	min-width: 360px;
	min-height: 360px;
	background: rgba(210, 190, 230, 0.83);
	border-radius: 50%;

	color: #000000;
	margin-left: 24px;
}
.pagina2 .box-amarelo-2 {
	max-width: 618px;
	/* height: 222px; */

	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);
	padding: 10px;

}
.pagina2 .centralizar {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	
}
.pagina2 .textoh1{
	font-family: 'EXO';
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 45px;
	text-align: center;

}

.pagina2 section {
	width: 100%;
	max-width: 1170.38px;
	/* max-height: 1170.38px; */
	min-height: 80vh;
	/* border: 4px solid red; */
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 auto;
}

.pagina2 .bloco {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	padding: 28px 20px;
}

.pagina2 .box-amarelo {
	max-width: 808px;
	height: 54px;
	/* Amarelo 01 */
	background: rgba(241, 245, 37, 0.64);
}
.pagina2 .box-amarelo,
.pagina2 .box-roxo {
	/* margin-bottom: 32px; */
	padding: 10px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.pagina2 .box-roxo {
	width: 100%;
	/* height: 105px	; */
	background: rgba(210, 190, 230, 0.83);
	
}

.pagina2 img {
	margin: 20px 0;
}
.pagina2 .img1 {
	width: 400px;
	height: 266.67px;
}

.pagina2 .img2 {
	width: 500px;
	height: 243.51px;
}

.pagina2 .img3 {
	width: 400px;	
	height: 300px;
}

.pagina2 .img4 {
	width: 450px;
	height: 300px;
}


.pagina2 .fonte {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;

	color: #000000;
	
	margin-top:20px;
}
.pagina2 .info {
	display:flex;
	flex-direction: column;
	justify-content: center;
	font-family: Roboto;
	
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 28px;

	color: #000000;
	
	max-width: 60%;
	padding: 0 10px 0 0;
}
img {
  object-fit: unset;
  max-width: 90vw;
}

@media (max-width: 941px) {
	.bloco {
		flex-direction: column;
	}
	
	.pagina2 .box-amarelo,
	.pagina2 .box-roxo {
		width: 100%;
		padding: 50px 10px;
		max-width: inherit;
	}
	
	.pagina2 .info {
		font-size: 20px;
	}
	
	.pagina2 .n2 {
		justify-content: flex-end;
	}
	
	.pagina2 .info {
		max-width: 90vw;
	}
	.pagina2 .bolha {
		margin: 24px 0;
	}
}
