.cabecalho .cabeçalho__container{
    position: absolute;
    width: 100%;
    height: 313px;
    left: 0px;
    background: var(--roxo-01-color);
    justify-content: space-between;
}

.cabecalho .p{
    color: var(--texto-cabeçalho);
    text-align: center;
    position: absolute;
    width: 1018px;
    height: 69px;
    left: 332px;
    top: 111px;

    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 58px;
}

.cabecalho .logo{
    width: 25rem;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.cabecalho .menu__lista{
    display: flex;
    background: var(--cinza-transparente-01-color);

    width: 100%;
    height: 35px;
    left: 62px;
    top: 259px
}

.cabecalho .menu__item{
    list-style: none;
}


.cabecalho .menu__item:hover{
    font-weight: bold;
}

.cabecalho .menu__link{
    color: black;
    margin-left: 15rem;
    text-decoration: none;
    text-transform: upercase;
    font-size: 24px;
    line-height: 28px;
}
