header {
	background: yellow;

}

#header nav {
	/* width: 500px; */
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	margin:auto;
}
#header nav a {
	border: solid red 2px;
	padding: 10px;
}
